* {
  margin: 0;
  padding: 0;
}
/*here is google font
=====================================
*/

@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #e4cfcf;
}

/*==================================*/
/*
=================
first part start
=================
*/
.stay-focused {
  display: flex;
  height: 500px;
  padding-bottom: 20%;
}
.stay-focused h1 {
  padding-bottom: 3%;
}
.stay-focused p {
  padding-bottom: 3%;
}

.orange-color {
  color: #ffad5a;
}
.half-width img {
  width: 100%;
}
.half-width {
  width: 40%;
  padding: 5% 10%;
}
h1 {
  font-size: 50px;
}
.button-color {
  background-color: #ff5959;
}
.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
}
.btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
/*
=================
first part end
=================
*/
/*
=================
second part start
=================
*/
.my-mission {
  height: 500px;
}
.my-mission h2 {
  text-align: center;
  font-size: 40px;
}

.blue-color {
  color: #13103a;
}

.three-mission {
  display: flex;
}
.one-thirt {
  width: 30%;
  margin: 2%;
  border-radius: 15px;
  padding-bottom: 5%;
}
.mission-bg {
  background-color: #c1c5c5;
  box-shadow: 10px 10px 40px gray;
}
.vission-bg {
  background-color: #a09884;
  box-shadow: 10px 10px 40px gray;
}
.goal-bg {
  background-color: #a0a7a7;
  box-shadow: 10px 10px 40px gray;
}
.one-thirt img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.one-thirt h3 {
  padding: 5%;
}
.one-thirt p {
  padding: 5%;
}
/*
=================
second part end
=================
*/
