* {
  margin: 0;
  padding: 0;
}
/*here is google font
=====================================
*/

@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #e6d2d2;
}

/*==================================*/
/*
=================
first part start
=================
*/
.stay-focused {
  display: flex;
  height: 500px;
  padding-bottom: 20%;
}
.stay-focused h1 {
  padding-bottom: 3%;
}
.stay-focused p {
  padding-bottom: 3%;
}

.orange-color {
  color: #ffad5a;
}
.half-width img {
  width: 100%;
}
.half-width {
  width: 40%;
  padding: 5% 10%;
}
h1 {
  font-size: 50px;
}
.button-color {
  background-color: #ff5959;
}
.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  margin-bottom: 3%;
}
.btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
/*
=================
first part end
=================
*/
/*
=================
second part start
=================
*/
.my-mission {
  height: 500px;
}
.my-mission h2 {
  text-align: center;
  font-size: 40px;
}

.blue-color {
  color: #13103a;
}

.three-mission {
  display: flex;
}
.one-thirt {
  width: 30%;
  margin: 2%;
  border-radius: 15px;
  padding-bottom: 5%;
}
.mission-bg {
  background-color: #c1c5c5;
  box-shadow: 10px 10px 40px gray;
}
.vission-bg {
  background-color: #a09884;
  box-shadow: 10px 10px 40px gray;
}
.goal-bg {
  background-color: #a0a7a7;
  box-shadow: 10px 10px 40px gray;
}
.one-thirt img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.one-thirt h3 {
  padding: 5%;
}
.one-thirt p {
  padding: 5%;
}
/*
=================
second part end
=================
*/
/*
=================
3rd part start
=================
*/
.develop {
  height: 500px;
  padding-top: 10%;
  display: flex;
}
.develop-half {
  width: 40%;
  margin-left: 7%;
}
.develop-half img {
  width: 60%;
  padding-left: 20%;
}
.develop-half h2 {
  padding-bottom: 5%;
  font-size: 30px;
}
.develop-half p {
  padding-bottom: 5%;
  line-height: 25px;
}

/*
=================
3rd part end
=================
*/
/*
=================
4th part start
=================
*/

.community {
  height: 500px;
  display: flex;
}
.community-half {
  width: 40%;
  margin-left: 10%;
}
.community-half h2 {
  font-size: 30px;
  padding-bottom: 5%;
}
.community-half p {
  padding-bottom: 5%;
  line-height: 25px;
}
.community-half img {
  width: 80%;
}
/*extra part*/
.extra-part {
  height: 600px;
  margin-top: 5%;
  background-color: #2e1ee0;
  color: white;
}
.form-part {
  margin-left: 5%;
}
.extra-part h1 {
  text-align: center;
  padding-bottom: 5%;
}
input {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.btn-primary {
  background-color: #ff5959;
  padding: 15px 35px;
  text-transform: uppercase;
}

.footer-part {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10%;
}
.footer-part h2 {
  padding-bottom: 10px;
}
.footer-color {
  color: #ff5959;
}
